@import "../../common/Common";

body {
  background-color: $body-background-color;
}

.app {
  @include grid-container;
}

.header {
  padding-bottom: 5em;
  position: relative;
  z-index: 1;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $header-background-color;
    position: fixed;
    top: 0;
    width: 100%;
  }

  li {
    float: left;

    &.nav-right {
      float: right;
      padding: 1em 2em;
    }

    .nav-logo {
      @include padding(1em 1em);
      display: block;

      img {
        height: 2em;
        width: auto;
      }

      &:hover {
        background-color: $header-hover-background-color;
      }
    }

    .nav-item {
      @include padding(.4em 0 0 .4em);
      color: $header-font-color;
      text-align: center;
      text-decoration: none;
    }
  }
}

.content {
  @include grid-column(1, $layout-grid);
}
